<!doctype html>
<html lang="pt-br">
<head>
  <meta charset="utf-8">
  <title>Watch List</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

  <h1>Watch List</h1>

  <!--
    Formulário para adicionar um novo filme/série.
    Ao clicar em "Adicionar", o navegador envia os dados para
    a rota /adicionar do app.py
  -->
  <form action="{{ url_for('adicionar') }}" method="post">
    <input type="text" name="nome" placeholder="Add Filme/Série" required>
    <button type="submit">Adicionar</button>
  </form>

  <hr>

  {% if filmes %}

    <!-- percorre cada filme da lista, um por um -->
    <ul>
      {% for filme in filmes %}
        <li>

          {{ filme.nome }}

          {% if filme.assistido %}
            | Já Assisti
          {% endif %}

          
          <form action="{{ url_for('marcar', indice=loop.index0) }}" method="post">
            {% if filme.assistido %}
              <button type="submit">Desmarcar como assistido</button>
            {% else %}
              <button type="submit">Marcar como assistido</button>
            {% endif %}
          </form>

        </li>
      {% endfor %}
    </ul>

  {% else %}

    <p>Lista Vazia</p>

  {% endif %}

  <hr>

  <!-- formulário para apagar tudo da sessão -->
  <form action="{{ url_for('limpar') }}" method="post">
    <button type="submit">Limpar</button>
  </form>

</body>
</html>