<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Campeonato de Games</title>
</head>
<body>
    <h2>Cadastrar</h2>
 
    <form action="/cadastro" method="POST">

        <label>Nome:</label><br>
        <input type="text" name="nome"><br><br>
 
        <label>E-mail:</label><br>
        <input type="text" name="email"><br><br>

        <label>Telefone:</label><br>
        <input type="text" name="phone"><br><br>
 
        <label>CPF:</label><br>
        <input type="text" name="cpf"><br><br>

        <label>Cidade:</label><br>
        <input type="text" name="cidade"><br><br>
 
        <label>Estado:</label><br>
        <input type="text" name="estado"><br><br>
 
        <label>Curso:</label><br>
        <input type="text" name="curso"><br><br>

        <label>Idade:</label><br>
        <input type="text" name="idade"><br><br>

        <label>Senha:</label><br>
        <input type="text" name="senha"><br><br>
 
        <button type="submit">Cadastrar</button>

    </form>
 
    <p>{{mensagem}}</p>
</body>
</html>